@model PaginatedResponse<TMDBapp.Models.Movie>
@{
    ViewData["Title"] = "Top Rated Movies";
    var baseUri = "https://image.tmdb.org/t/p/w200";

    var movies = Model.Results;
    var page = Model.Page;
    var totalPages = Model.TotalPages;
    var prevPage = Math.Max(page - 1, 1);
    var nextPage = Math.Min(page + 1, totalPages);
}

@functions {
    string GetUri(int page = 1)
    {
        return "/Home/TopRated?page=" + page;
    }
}

<style>
    .card {
        cursor: pointer;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card-title {
        height: 70px;
    }
</style>

<h1>Top Rated Movies</h1>

<div style="display: grid; grid-template-columns: repeat(5, 1fr); gap: 20px">
    @foreach (var movie in Model.Results)
    {
        <div class="card" data-movie-id="@movie.Id">
            <img class="card-img-top" src="@(baseUri + movie.PosterPath)" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@(movie.Title)</h5>
                <p class="card-text">Rating: @movie.Rating</p>
                <button data-movie-id="@movie.Id" class="btn @(movie.IsFavourite ? "btn-danger favourite" : "btn-primary ") js-fav-btn">@(movie.IsFavourite ? "-" : "+") Favourite</button>
            </div>
        </div>
    }
</div>
<nav>
    <ul class="pagination" style="justify-content: center; margin-top: 20px">
        <li class="page-item @(page == 1 ? "disabled" : "")"><a class="page-link" href="@GetUri()">&lt;&lt;</a></li>
        <li class="page-item @(page == 1 ? "disabled" : "")"><a class="page-link" href="@GetUri(prevPage)"><</a></li>
        @for (int i = Math.Max(page - 2, 1); i <= Math.Min(page + 2, totalPages); i++)
        {
            <li class="page-item @(i == page ? "active" : "")"><a class="page-link" href="@GetUri(i)">@i</a></li>
        }
        <li class="page-item @(page == totalPages ? "disabled" : "")"><a class="page-link" href="@GetUri(nextPage)">&gt;</a></li>
        <li class="page-item @(page == totalPages ? "disabled" : "")"><a class="page-link" href="@GetUri(@totalPages)">&gt;&gt;</a></li>
    </ul>
</nav>